{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

<nav class="nav-collapse main-nav">
        <ul>
            <li class="logo" style="background-image: url({{@blog.cover}})">
              <img src="{{@blog.logo}}" alt="{{@blog.title}}">
              <h4>{{@blog.title}}</h4>
            </li>
            <li><a href="{{@blog.url}}">Home</a></li>
            <li><a href="{{@blog.url}}/rss/">Subscribe</a></li>
            <li><a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a></li>
            <li><a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a></li>
            <li><a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a></li>
        </ul>
      </nav>

<a id="navigation-toggle" aria-hidden="false" class=""><span class="visually-hidden">Menu</span></a>

  <header id="main-head">
                <ul class="sub-nav">
                  <li><a class="account" href="/ghost"><span class="visually-hidden">Account</span></a></li>
                </ul>
                </ul>
                <h2 class="page-title">{{@blog.title}}</h2>
                <h4 class="page-description">{{@blog.description}}</h4>
            </header>

            {{! The main content area on the homepage }}

            <main id="content" class="content" role="main">




    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
